.link {
  font-family: 'Unbounded', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  color: #f8f9ff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: #ffffff;
}
